.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: #00a65a;
}

.sigunp-alert {
	color: red;
}

.content-wrapper {
	min-height: 100%;
}

.content-header {
	min-height: 100%;
}

h4 {
	color: green;
}

.addresses-ul {
	list-style-type:none;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
