body {

	color: #00a65a;
	text-align: left;
}

.body-bg-image {
	background: url('../image/woman-playing-tennis.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.transparent {
	background-color: rgba(0, 0, 0, 0);
	border-color: #00a65a;
}

.hide-navbar-menus {
	display: none!important
}

.show-navbar-menus {
	display: block!important;
}

@media only screen and (max-width: 767px) {

	.hide-navbar-menus {
		display: block!important
	}

	.show-navbar-menus {
		display: none!important
	}
}

.main-header .logo {
	float: none;
}

@media only screen and (max-width: 991px) {
	.transparent {
		background-color: #fff;
		border-color: #00a65a;
	}
}

.navbar-toggle {
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #00a65a;
}

.cont {
  display: block;
  vertical-align: middle;
  text-align: center;
	margin-top: 10%;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

h3 {
	font-size: 45px;
}

.btn-lg {
	font-size: 25px;
}

.ng-invalid.ng-dirty {
	border-color: red;
}

.ng-valid.ng-dirty {
	border-color: #00a65a;
}

.sigunp-alert {
	color: red;
}

.content-wrapper {
	min-height: 100%;
}

.content-header {
	min-height: 100%;
}

h4 {
	color: green;
}

.addresses-ul {
	list-style-type:none;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #00a65a;
}

.no-data {
	position: relative;
	vertical-align: middle;
	text-align: center;
	font-size: 2em;
}
