<div style="margin-left: 230px;">
  <div class="content-wrapper" style="height: 100vh;" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Addresses
        <small>Your addresses on the map</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Addresses</li>
      </ol>
    </section>

    <section class="content">
      <div style="height: 80%;">


        <br/>
        <map center="41.397, -71.644" zoom="5" style="height: 80vh;">
            <marker position="41.363882,-71.044922" title="Hello World!"></marker>
        </map>
      </div>
    </section>
    <ng-footer></ng-footer>
  </div>
</div>
