<div style="margin-left: 230px;">
  <div class="content-wrapper" style="height: 100vh;" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Addresses
        <small>Your addresses on the map</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Addresses</li>
      </ol>
    </section>

    <section class="content">

    <!-- addresses form
    <div class="box box-success col-sm-6">
      <div class="box-header with-border">
        <h3 class="box-title">Addresses</h3>
        <div class="box-title-sm">Your addresses will not be visible to other users</div>
      </div>
      <form class="form-horizontal">
        <div class="box-body">
        <div class="row">
          <label class="col-sm-2 control-label">Address 1</label>
          <br/>
        </div>
          <div class="form-group">
            <label for="inputAddressName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">
                <input type="address-name" class="form-control input-sm" id="inputAddressName" placeholder="Tag name of this address, e.g. Home, Work, School...">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStreet" class="col-sm-2 control-label">Street</label>
            <div class="col-sm-8">
                <input type="street" class="form-control input-sm" id="inputStreet" placeholder="Street">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCity" class="col-sm-2 control-label">City</label>
            <div class="col-sm-8">
              <input type="city" class="form-control input-sm" id="inputCity" placeholder="City">
            </div>
          </div>
          <div class="form-group">
            <label for="inputState" class="col-sm-2 control-label">State</label>
            <div class="col-sm-8">
              <input type="state" class="form-control input-sm" id="inputState" placeholder="State">
            </div>
          </div>
          <div class="form-group">
            <label for="inputCountry" class="col-sm-2 control-label">Country</label>
            <div class="col-sm-8">
              <input type="country" class="form-control input-sm" id="inputCountry" placeholder="Country">
            </div>
          </div>
          <div class="form-group">
            <label for="inputZipcode" class="col-sm-2 control-label">Zipcode</label>
            <div class="col-sm-8">
              <input type="zipcode" class="form-control input-sm" id="inputZipcode" placeholder="Zipcode">
            </div>
          </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-success pull-right" ng-click="AddressCtrl.create">Add Address</button>
        </div>
      </form>
    </div> -->


      <div style="height: 80%;">
        <br/>
        <map center="42.349299, -71.049965" zoom="10" style="height: 80vh;">
            <marker position="42.349299, -71.049965" title="Hello World!"></marker>
        </map>
      </div>
    </section>
  </div>
</div>
