<div class="wrapper">
  <div class="content-wrapper" style="min-height: 100vh">
    <section class="content-header">
      <h1>
        Calendar
        <small>My tennis calendar</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="starter.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Calendar</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        See you on court
      </div>
      <strong>Copyright &copy; 2015 <a style="color:#00A65A;" href="http://linalekova.com">Game Set Match App</a>.</strong>
    </div>
  </footer>
</div>
