<div style="margin-left: 230px;">
  <div class="content-wrapper" style="height: 100vh;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Shows your tennis experience</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#/dashboard.html"><i class="fa fa-dashboard"></i>Home</a></li>
        <li class="active">Find a player</li>
      </ol>
    </section>

    <section class="content">
      <div class="col-sm-6">
      <h3>Wonna play with some tennis balls? </h3>
      <img src="app/image/tennis-dog.gif"/>
      <h3>There you go!</h3>
    </div>
    </section>
  </div>
<!-- </div> -->

<!-- <gl-footer></gl-footer>
 -->
