<div style="margin-left: 230px;">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				My games
				<small>View of past an upcoming games</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/dashboard.html"><i class="fa fa-dashboard"></i>Home</a></li>
				<li class="active">My games</li>
			</ol>
		</section>

		<section class="content">
		<div class="row">
			<div class="col-md-3">
				<!-- Games Box -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Your Games</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-sm-8">
								<strong><i class="fa fa-info margin-r-5"></i>Total Games:</strong>
							</div>
							<div class="col-sm-3">
								<strong>
									<span class="text">{{GamesCtrl.wonGames.length + GamesCtrl.lostGames.length}}</span>
								</strong>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-8">
								<strong><i class="fa fa-thumbs-o-up margin-r-5"></i>Won Games:</strong>
							</div>
							<div class="col-sm-3">
								<strong>
									<span class="text">{{GamesCtrl.wonGames.length}}</span>
								</strong>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-8">
								<strong><i class="fa fa-thumbs-o-down margin-r-5"></i>Lost Games:</strong>
							</div>
							<div class="col-sm-3">
								<strong><span class="text">{{GamesCtrl.lostGames.length}}</span></strong>
							</div>
						</div>
						<hr>
					</div><!-- /.box-body -->
				</div><!-- /.box -->

				<!-- Add a Game Box -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Add New Game</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
		          </div>
		          <!-- form start -->
		          <form class="form-horizontal">
		            <div class="box-body">
		              <div class="form-group">
		                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		                <div class="col-sm-8">
		                    <input type="email" class="form-control" id="inputEmail3" placeholder="{{UserCtrl.currentUser.email}}" ng-model="UserCtrl.user.email">
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		                <div class="col-sm-8">
		                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="UserCtrl.user.password">
		                </div>
		              </div>
		              <div class="form-group">
		                <label for="inputPassword3" class="col-sm-2 control-label">Confirm</label>
		                <div class="col-sm-8">
		                  <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password" ng-model="UserCtrl.user.password_confirmation">
		                </div>
		              </div>
		            </div><!-- /.box-body -->
		            <div class="box-footer">
		              <button type="submit" class="btn btn-default">Cancel</button>
		              <button type="submit" class="btn btn-success pull-right" ng-click="UserCtrl.updateUser(AuthCtrl.credentials)">Update</button>
		            </div><!-- /.box-footer -->
		          </form>
			  </div><!-- /Add a Gmae Box -->


				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Add a Game</h3>
					</div><!-- /.box-header -->
					<div class="box-body">
						<!-- Date and time range -->
						<div class="form-group">
							<label>Select date and time:</label>
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-clock-o"></i>
								</div>
								<input type="text" class="form-control pull-right" id="reservationtime">
							</div>
							<!-- /.input group -->
						</div>
						<!-- /.form group -->
						<hr>
						<strong><i class="fa fa-thumbs-o-up margin-r-5"></i>Won Games:
							<span class="text-muted">{{GamesCtrl.wonGames.length}}</span>
						</strong>
						<hr>
						<strong><i class="fa fa-thumbs-o-down margin-r-5"></i>Lost Games
							<span class="text-muted">{{GamesCtrl.lostGames.length}}</span>
						</strong>
						<hr>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>

			<div class="col-md-6">
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Add an upcoming game</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="box">
										<div class="box-header">
											<h3 class="box-title">Games info</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body no-padding">
											<table class="table table-striped">
												<tr>
													<th style="width:100px">Date</th>
													<th>Place</th>
													<th>Against</th>
													<th>Score</th>
													<!--   <th>Comment</th> -->
												</tr>
												<tr ng-repeat="game in GamesCtrl.wonGames">
													<td>{{game.date}}</td>
													<td>{{game.place}}</td>
													<td>{{game.loser_name}}</td>
													<td>{{game.score}}</td>
													<!--  <td>{{game.comment}}</td> -->
												</tr>
											</table>
										</div>
										<!-- /.box-body -->
									</div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Add a upcoming game</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<!-- Date and time range -->
									<div class="form-group">
										<label>Select date and time:</label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-clock-o"></i>
											</div>
											<input type="text" class="form-control pull-right" id="reservationtime">
										</div>
										<!-- /.input group -->
									</div>
									<!-- /.form group -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.box -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Won Games</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="box">
										<div class="box-header">
											<h3 class="box-title">Games info</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body no-padding">
											<table class="table table-striped">
												<tr>
													<th style="width:100px">Date</th>
													<th>Place</th>
													<th>Against</th>
													<th>Score</th>
													<!--   <th>Comment</th> -->
												</tr>
												<tr ng-repeat="game in GamesCtrl.wonGames">
													<td>{{game.date}}</td>
													<td>{{game.place}}</td>
													<td>{{game.loser_name}}</td>
													<td>{{game.score}}</td>
													<!--  <td>{{game.comment}}</td> -->
												</tr>
											</table>
										</div>
										<!-- /.box-body -->
									</div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Lost Games</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="box">
										<div class="box-header">
											<h3 class="box-title">Games info</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body no-padding">
											<table class="table table-striped">
												<tr>
													<th style="width:100px">Date</th>
													<th>Place</th>
													<th>Against</th>
													<th>Score</th>
													<!-- <th>Comment</th> -->
												</tr>
												<tr ng-repeat="game in GamesCtrl.lostGames">
													<td>{{game.date}}</td>
													<td>{{game.place}}</td>
													<td>{{game.winner_name}}</td>
													<td>{{game.score}}</td>
													<!-- <td>{{game.comment}}</td> -->
												</tr>
											</table>
										</div>
										<!-- /.box-body -->
									</div>
								</div>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		</section>
		<!--     <ng-footer></ng-footer> -->
	</div>
</div>
