<div style="margin-left: 230px; height: 100vh;">
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Your Messages
				<small>4 new messages</small>
			</h1>
		</section>

		<section class="content" ng-controller="DashboardCtrl as DashCtrl">
			<div class="col-md-6 alert alert-danger">
				<h4><i class="icon fa fa-ban"></i> Under Consrtuction!</h4>
				This feature is under construction! You will get a notification when it's ready to go!
			</div>
		</section>
	</div>
</div>
