<div class="wrapper">
<div class="content-wrapper" style="min-height: 100vh">
  <section class="content-header">
    <h1>User Profile</h1>
    <ol class="breadcrumb">
      <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">User profile</li>
    </ol>
  </section>

  <section class="content">

    <div class="row">
      <div class="col-md-4" >
        <div class="box box-success">
          <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" src="app/image/no-image-user.png" alt="User profile picture">
            <h3 class="profile-username text-center">{{ProfileCtrl.currentUser.name}}</h3>
            <p class="text-muted text-center">{{ProfileCtrl.currentUser.current_proficiency_type}}</p>
            <a class="btn btn-success btn-block"><b>Change Picture</b></a>
          </div>
        </div>

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">About Me</h3>
          </div>
          <div class="box-body">
            <strong><i class="fa fa-info margin-r-5"></i>About Me</strong>
            <p class="text-muted">{{ProfileCtrl.currentUser.about_me}}</p>
            <hr>
            <strong><i class="fa fa-map-marker margin-r-5"></i>My addresses</strong>
						<div ng-repeat="addr in ProfileCtrl.currentUser.addresses track by addr.id">
							<ul class="addresses-ul">
								<li ng-model="ProfileCtrl.currentUser.addresses.address_id" name="addressItem" id="{{addr.id}}" value="{{addr.id}}">
									<span class="text-green"><b>{{addr.name}}</b></span>&ensp;&ensp;&mdash;&ensp;&ensp;&ensp;{{addr.street}}, {{addr.city}}, {{addr.state}} {{addr.zipcode}}, {{addr.country}}
								</li>
							</ul>
						</div>
          </div>
        </div>

				<div class="box box-success">
					<div class="box-header with-border">
						<h3 class="box-title">Credentials</h3>
					</div>
					<form name="credentialsForm" class="form-horizontal" role="form" novalidate>
						<div class="box-body">
							<!-- <div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
								<div class="col-sm-8">
										<input type="email" class="form-control" id="inputEmail3" placeholder="{{ProfileCtrl.currentUser.email}}" ng-model="ProfileCtrl.credentials.email">
								</div>
							</div> -->
							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-9">
									<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password"
										ng-model="ProfileCtrl.credentials.password" required>
									<span class="sigunp-alert" ng-show="credentialsForm.password.$error.minlength"> * Password is too short.</span>
								</div>
							</div>
							<div class="form-group">
								<label for="inputPasswordConfirm" class="col-sm-2 control-label">Confirm</label>
								<div class="col-sm-9">
									<input type="password" name="validation" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password"
										ng-model="ProfileCtrl.credentials.password_confirmation" required ng-minlength="3">
									<span class="sigunp-alert" ng-show="ProfileCtrl.credentials.password_confirmation &&
										ProfileCtrl.credentials.password !== ProfileCtrl.credentials.password_confirmation">
										<i class="fa fa-times-circle-o"></i> Passwords do not match.</span>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-success pull-right" ng-click="ProfileCtrl.updateEmailOrPassword(credentialsForm.$valid)">Update</button>
						</div>
					</form>
				</div>
      </div>

      <div class="col-md-6">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Personal Info</h3>
          </div>
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputEmail3" placeholder="{{ProfileCtrl.currentUser.name}}" ng-model="ProfileCtrl.user.name">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAge" class="col-sm-2 control-label">Age</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputAge" placeholder="{{ProfileCtrl.currentUser.age}}" ng-model="ProfileCtrl.user.age">
                </div>
              </div>
              <div class="form-group">
                <label for="inputGender" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputGender" placeholder="{{ProfileCtrl.currentUser.gender}}" ng-model="ProfileCtrl.user.gender">
                </div>
              </div>
              <div class="form-group">
                <label for="inputAboutMe" class="col-sm-2 control-label">About Me</label>
                <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="inputAboutMe" placeholder="{{ProfileCtrl.currentUser.about_me}}" ng-model="ProfileCtrl.user.about_me"></textarea>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-success pull-right" ng-click="ProfileCtrl.updateUser(ProfileCtrl.user)">Update</button>
            </div>
          </form>
        </div>

        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">Proficiency Level</h3>
          </div>
          <form class="form-horizontal">
            <div class="box-body">
              <h4 class="text-black">You are on level <span class="text-green">{{ProfileCtrl.currentUser.current_proficiency_type}}</span> out of 9 categories</h4>
              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                  <div ng-repeat="level in ProfileCtrl.proficiencyTypes track by level.id">
                    <div>
                      <div class="radio">
                        <label>
                          <input ng-model="ProfileCtrl.proficiency.proficiency_type_id" type="radio" name="optionsRadios" id="{{level.id}}" value="{{level.id}}">
                          <b>{{level.name}}</b>&ensp;&ensp;&mdash;&ensp;&ensp;&ensp;{{level.description}}
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-success pull-right" ng-click="ProfileCtrl.updateUserProficiency(ProfileCtrl.proficiency.proficiency_type_id)">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
