 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Register
      <small>To use our awesome features you need to create an account</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-d ashboard"></i> Register</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
